
node_modules/
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*


dist/
build/
.vite/
.cache/
.temp/
coverage/



.env
.env.local
.env.*.local
!.env.example


backend-h8/.env
backend-h8/.env.local
backend-h8/.env.*.local
!backend-h8/.env.example


.DS_Store
Thumbs.db
.idea/
.vscode/
*.swp
